#headerImg{
	width: 300px;
	margin: 0px auto;
}

#logo{
	width: inherit;
}

.trheader {
	font-weight: bold;
}

body{
	background-color: #fff;
	font-family: Helvetica;
	width:100%;
}

div.menu{
	margin: 0 auto;
	width:672px;
}

ul.topMenu{
	overflow: hidden;
	padding: 10px;
	width: 501px;
	margin: 0 auto;
}

ul.topMenu li:first-child a{
	background-color: lightgrey;
	color: black;
}

ul.topMenu li:first-child{
	width: 80px;
}

ul.topMenu li:first-child img{
	width: 80px;
}

ul.topMenu li + li{
	padding-left: 10px;
}

ul.topMenu li{
	float:left;
	list-style: none;
	padding:10px 0px;
}

ul.topMenu li a{
	background-color: lightgrey;
	padding: 20px;
	color:white;
	text-decoration: none;

}

ul.topMenu li a.active{
	background-color: black;
	color: white;
}

#store {
    overflow: hidden;
    width: 600px;
    margin: 0 auto;
    padding: 0px;
}

#store li{
	background-color: lightblue;
	list-style: none;
	float: left;
	height: 100px;
	width:100px;
	margin: 30px;
	padding: 20px;
	text-align: center;
}

footer{
	background-color: lightblue;
	margin-top:30px;
	
}

footer ul{
	overflow: hidden;
    width: 467px;
    margin: 0 auto;
    padding: 0px;
   	display: flex;
}

footer li{
	list-style: none;
	float: left;
	padding: 30px;
}